[package]
name = "rustls-mbedtls-provider-examples"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"
description = "rustls-mbedtls-provider example code."
publish = false

[dependencies]
rustls-mbedcrypto-provider = { path = "../rustls-mbedcrypto-provider" }
rustls-mbedpki-provider = { path = "../rustls-mbedpki-provider" }
env_logger = "0.10"
rustls = { version = "0.22.0", default-features = false }
rustls-native-certs = "0.6.3"
