[package]
description = "rustls-mbedtls-provider example code."
edition = "2021"
license = "MPL-2.0"
name = "rustls-mbedtls-provider-examples"
publish = false
version = "0.1.0"

[dependencies]
env_logger = "0.10"
rustls = { version = "0.22.2", default-features = false }
rustls-mbedcrypto-provider = { path = "../rustls-mbedcrypto-provider", features = [
  "tls12",
] }
rustls-mbedpki-provider = { path = "../rustls-mbedpki-provider" }
rustls-native-certs = "0.7.0"
rustls-pemfile = "2"
