[package]
name = "rustls-mbedpki-provider"
version = "0.0.2"
edition = "2021"
license = "MPL-2.0"
description = "Implements rustls PKI traits using mbedtls"
repository = "https://github.com/fortanix/rustls-mbedtls-provider"
readme = "../README.md"
authors = ["Fortanix Inc."]
categories = ["network-programming", "cryptography"]
resolver = "2"

[dependencies]
rustls = { git = "https://github.com/fortanix/rustls", tag = "ffdhe-r3", default_features = false }
mbedtls = { version = "0.12.1", features = [
    "x509",
    "chrono",
    "std",
], default_features = false }

x509-parser = "0.15"
chrono = "0.4"
utils = { package = "rustls-mbedtls-provider-utils", path = "../rustls-mbedtls-provider-utils", version = "0.1.0" }

[dev-dependencies]
rustls-pemfile = "2"
rustls = { git = "https://github.com/fortanix/rustls", tag = "ffdhe-r3" }
# We enable the time feature for tests to make sure it does not mess up cert expiration checking
mbedtls = { version = "0.12.1", features = ["time"], default_features = false }
