[package]
name = "rustls-mbedpki-provider"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"
description = "Implements rustls PKI traits using mbedtls"
repository = "https://github.com/fortanix/rustls-mbedtls-provider"
readme = "../README.md"
authors = ["Fortanix Inc."]
categories = ["network-programming", "cryptography"]
resolver = "2"

[dependencies]
rustls = { version = "0.21", features = ["dangerous_configuration"] }
mbedtls = { version = "0.12.0-alpha.1", features = [
    "x509",
    "chrono",
    "time",
    "std",
], default_features = false }

x509-parser = "0.15"
chrono = "0.4"

[dev-dependencies]
rustls-pemfile = "1.0"
